* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  padding: 10px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

li{
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-radius: 6px;
}


#habit-list {
  list-style: none;
}

.habit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.habit-item.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.habit-actions button {
  margin-left: 5px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.habit-actions .mark-btn {
  background-color: #2196F3;
  color: white;
}

.habit-actions .delete-btn {
  background-color: #e74c3c;
  color: white;
}

.TrakerItem{
  padding-left:10px ;
  padding-right:10px;
}

.info-actions{
  align-items: center;
  display: flex;
}